<?xml version="1.0"?>
<launch>

    <!-- Launch file arguments -->
    <arg name="map" default="sml"/>
    <arg name="is_sim" default="false"/>
    <arg name="use_rviz" default="false"/>
    <arg name="remote_rviz" default="true"/>
    <arg name="obstacle_map" default="sml_obstacles"/>
    <arg name="input_topic" default="/qualisys/svea7/pose"/>
    <arg name="output_topic" default="/state"/>
    <arg name="velocity_topic" default="/qualisys/svea7/velocity"/>
    <arg name="state_verbose" default="false"/>

    <!-- Start map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find svea_core)/maps/$(arg map).yaml" output="screen"/>

    <!-- If is_sim equal to false, then include all these tags-->
    <group unless="$(arg is_sim)">
        <!-- Start low-level interface -->
        <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
            <param name="port" value="/dev/ttyACM0"/>
            <param name="baud" value="250000"/>
        </node>
    </group>

    <!-- Velocity estimation -->
    <node pkg="svea_sensors" type="actuation_to_twist.py" name="actuation_to_twist" output="screen"/>

    <!-- Start RViz -->
    <node if="$(eval use_rviz and not remote_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find
    svea_core)/rviz/SVEA_floor2.rviz"/>
    
    <!-- Start pure_pursuit -->
    <node name="pure_pursuit" pkg="svea_examples" type="pure_pursuit.py" output="screen">
        <param name="use_rviz" value="$(arg use_rviz)"/>
        <param name="remote_rviz" value="$(arg remote_rviz)"/>
        <param name="is_sim" value="$(arg is_sim)"/>
        <!-- Waypoints for floo2 map -->
        <rosparam>
            state: [-1.9, -2, 1.7] # initial state (x, y, yaw)
            points:
            - [-1.9, 1.4]
            - [0.0, 1.4]
            - [0.0, -2.0]
            - [-1.9, -2.0]
            obstacles_points:
            - [0, 1.5]
        </rosparam>
    </node>

    <!-- Adapter node from mocap Pose to VehicleState -->
    <node name="adapter_pose_to_vehicle_state" pkg="svea_examples" type="adapter_pose_to_vehicle_state.py"
    output="screen">
        <param name="input_topic" value="$(arg input_topic)"/>
        <param name="output_topic" value="$(arg output_topic)"/>
        <param name="velocity_topic" value="$(arg velocity_topic)"/>
        <param name="state_verbose" value="$(arg state_verbose)"/>
    </node>
    
    
</launch>